@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
  
    color: dimgray;
    font-family: 'Alegreya', sans-serif;
    margin: 0;
    background-color: white;
    background-size: 100%;
}
h1{
    margin-top: 50px;
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    color: #027eea;
}
h2{
    font-size: 200%;
    font-weight: 500;
    text-align: center;
    padding-top: 1%;
    color: dimgray;
}
h3{
    font-size: 175%;
    line-height: 155%;
    padding: 5% 0;
    font-weight: 400;
    color: dimgray;
}
h4{
    font-size: 140%;
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    font-family: 'Alegreya Sans', sans-serif;
    color: dimgray;
    font-size: 130%;
    line-height: 100%;
    padding: 2%;
    text-align: justify; /* streckt text bis ans ende der Zeile*/
}
/* Text stylen ende*/

img{
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}
header{
    background-color: #027eea;
    width: 100%;
    height: 80px;
}
video{
    width: 100%;
}
.wrapper{
    margin: 0 auto;
    background-color: white;
    width: 100%;
    float: left;
}
.wrapper-inner{
    /*margin-top: 160px;*/
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
#header-inner{
    background-attachment: fixed;
    max-width: 1200px;
    margin: 0 auto;
}
#logo{
    width: 20%;
    height: 80px;
    background: url(../img/sgtlogo2.png) no-repeat left; /*no-repeat = logo wiederhotl sich nicht, left = linksbündig, center wäre mittig*/
    float: left;
}
/* Start Navigation style*/
nav{
    float: right;
    width: 60%;
    padding: 25px 20px 0 0;
}
#menu-icon{
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../img/nav.png) center;
}
a:hover#menu-icon{
    border-radius: 4px 4px 0 0;
}
/*Liste stylen*/
ul{
    list-style-type: none;
}
nav ul li{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 150%;
    display: inline-block; /*nebeneinander*/
    float: right;
    padding: 10px;
}
nav ul li a {
    color: #F5F5F5;
    text-decoration: none;/*nicht mehr unterstrichen*/
}
nav ul li a:hover{
    color: #C3D7DF;
}
.current{
    color: #C3D7DF;
}
/*Ende navigation*/
.banner{
      /*  margin-top: 360px;*/
    width: 100%;
    background-color: #F5F5F5;
}
.banner-inner{
    width: 40px;
    margin: 0 auto;
}
#banner{
    height: auto;
    width: 100%;
}
.one-fourth{
    width: 25%;
    float: left;
    text-align: center;
}
#html{
    background-color: #F1Aa90;
}
#css{
    background-color: #BEB9AD;
}
#seo{
    background-color: #AADCD2;
}
#social{
    background-color: #A2B2C1;
}

#map{
    margin-top: 10px;
    width: 100%;
}
.container_50{
    width: 49%;
    float: left;
}
.headline{
    width: 50%;
    float: left;
}
.container_zweimann{
    width: 49%;
    float: right;
}
.container_100i{
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    width: 100%;
    
    margin-top: 100px;
	float: left;
    background: #FFF;
}
.container_100{
    text-align: center;
    width: 100%;
	float: left;
}
.clearer{
    clear:both;
}
.one-fourth i{
    color: dimgray;
    font-size: 500%;
    padding: 13% 0 4% 0;
}
.inner-wrapper{
    float:left;
    width: 100%;
    background-color: #C3D7FD;
}
article{
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
#tablet{
    background-color: #C3D7DF;
}
aside{
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
#tablet2{
    background-color: #A2B1C1;
}
#mobile{
    background-color: #BEB9AD;
}
#desktop{
    background-color: #F1AA90;
}
.inner-wrapper-2{
    float: left;
    width: 100%;
    background-color: #C3D7DF;
}

.inner-wrapper-3{
    float:left;
    width: 100%;
    background-color: #AADCDF;
}
.one-third{
    width: 33.33%;
    float:left;
    text-align: center;
}
.one-thirdhalf{
    width: 16%;
    float:left;
    text-align: center;
}
#mittig{
    text-align: center;
    font-size: 90%;
}
#bannerlinks{
    width: 33.33%;
    background-clip: white;
    float:left;
    text-align: center;
    background-color: #F5F5F5;
    color: dimgray;
    
}
#bannerlinksregatta{
    width: 33.33%;
    background-clip: white;
    float:left;
    text-align: center;
    background-color: white;
    color: dimgray;
    
}
#bannerrechts{
    width: 66.66%;
    float:left;
    background-color: rgba(255, 0, 0, 0.4);
}
.two-third{
    width: 66.66%;
    float:left;
    text-align: center;
}
#training{
    background-color: #F5F5F5;
    color: dimgray;
}
.neues{
    margin-top: 50px;
}
#plan{
    background-color: white;
}
#vorstand{
    background-color: lightgray;
}
#google{
    background-color: lightgray;
}
#marketing{
    background-color: #BEB9AD;
}
#customers{
    background-color: #AADCD2;
}
#smiley{
    background-color: #AADCD2;
    padding: 0 0 1%;
    clear: both;
}
/*Footer start*/
footer{
    background-color: #6991AC;
    width: 100%;
}
.social{
    list-style-type: none;
    text-align: center;
}
.social li{
    display: inline;
    padding: 5px;
}
.social i{
    font-size: 260%;
    margin: 1%;
    color: #C4D7DF;
}
.social i:hover{
    color: #F5F5F5;
}
footer.second{
    border-top: 1px solid #AADCD2;
    background-color: #544B59;
    max-height: 55px;
    margin: 0;
}
footer.second p{
    padding: 5px 0 9px 0;
    text-align: center;
    color: aliceblue;
}
#box{
    margin-top: 50px;
    border-color: #027eea;
    border: 2px;
    border-style: solid;
}

/*Media Querrys für Mobileseite*/
@media screen and (max-width: 768px){
    h2{
        font-size: 120%;
    }
    h3{
        font-size: 105%;
    }
    h4{
        width: 100%;
    }
    p{
        font-size: 100%;
        width: 100%;
    }
    header{
        position: absolute;
    }
    .social{
        font-size: 50%;
    }
    #bannerlinks{
        margin-top: 100px;
        width: 100%;
        float:left;
    }
    .container100i{
        width: 100%;
        float: left;
    }
    .two-third{
        width: 100%;
        float: left;
    }
    #banner{
        display: none;
    }
    #logo{
        margin: 15px 0 20px -25px;
        background: url(../img/sgtlogo.gif);
        display: none;
    }
    #menu-icon{
        display: inline-block;
        float: right;
    }
    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #6991AC;
        right: 20px;
        top: 60px;
        border: 1px solid #FFF;
        border-radius: 2px 0 2px 2px;
        width: 50%;
    }
    nav:hover ul{
        display: block;
    }
    nav li{
        text-align: center;
        width: 100%;
        padding: 10px 0 10px 0;
    }
   
    .one-fourth{
        float: left;
        width: 100%;
    }
    .one-fourth i{
        font-size: 350%;
        padding: 4% 0 1% 0;
    }
    article{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    
    /*One Third abschnitt start*/
    .one-third{
        width: 100%;
    }
    .social i{
        font-size: 150%;
    }
    .container_50{
        width: 50%;
    }
    .headline{
        width: 50%;
    }
    #bannerlinksregatta{
    margin-top: 30px;
    width: 100%;
    float:left;
    }
    
}

/*Profilkarte*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}

.title {
  color: grey;
  font-size: 18px;
}

a{
 text-align: left;
 text-decoration: none;
 font-size: 18px;
}
/*roteschrift*/
#rot{
    color: red;
}
/*infocard*/
.vorstand-item{
    margin: 0 auto;
    max-width: 80%;
    color: #027eea;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 0px;
    margin-bottom: 6px;
}
.vorstand-item p{
    
}
.image{
    margin-top:20px;
    min-height: 240px;
}
.position{
    margin-top: 10px;
    text-align: center;
    color: #027eea; 
    font-family: 'Alegreya', sans-serif;
    font-weight: 600; 
    font-size: 14px; 
    letter-spacing: 1px; 
    line-height: 0px; 
}
.name{
    padding-top: 5px;
    text-align: center;
    font-size: 14px; 
    font-weight: 500; 
    font-style: italic; 
    line-height: 20px; 
}
.vita{
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
    font-size: 13px; 
    font-style: italic; 
    line-height: 14pxs; 
    min-height: 60px; 
    text-transform: none;
}
.kontakt{
    padding-top: 0;
    color: blue;
    text-align: center;
    font-size: 13px; 
    font-style: normal; 
    margin-bottom: 10px; 
    text-transform: none; 
}
.telefon{
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
    font-size: 13px; 
    font-style: italic; 
    line-height: 14pxs;  
    text-transform: none;
}

/*Tabelle*/
.tabelle{
    margin-top: 50px;
    margin-left: 20px;
}
table.blueTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 14px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/*Button*/
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Verdana;
  margin: 2.4%;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  background: #3498db;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Verdana;
  margin: 2.4%;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  background: #3498db;
  text-decoration: none;
}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn3 {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Verdana;
  margin: 2.4%;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  background: #3498db;
  text-decoration: none;
}

.btn3:hover {
  text-decoration: none;
}

.flyer {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Verdana;
  margin: 2.4%;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  background: #3498db;
  text-decoration: none;
}

.flyer:hover {
  text-decoration: none;
}

/*LOGIN*/
#loginbereich{
    position: fixed; 
    overflow-y: scroll;
    width: 20%;
	height: 50px;
	-webkit-filter: blur(0px);
    float: left;
}
.login{
    margin-top: 10px;
	position: absolute;
	height: 60px;
	width: 135px;
	padding: 1px;
	float: left;
}

.login input[type=text]{
	width: 125px;
	height: 15px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 125px;
	height: 15px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 135px;
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 20px;
    margin-left: 80px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

#coopvereine{
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 100px;
}

.loginarea{
    background-color: aliceblue;
    width: 30%;
    float:left;
}

.loginnext{
    float:left;
    
}

#intern{
    margin-top: 15%;
    margin-bottom: 15%;
}

#impressum{
    background-color: lightgray;
    font-size: 100%;
    color: aliceblue;
}
#freizeit{
    font-weight: 500;
    font-size: 140%;
    line-height: 130%;
}
.freizeit2{
    margin-top: 30px;
    font-weight: 500;
    font-size: 165%;
    line-height: 130%;
}
.spacer{
    height: 500px;
}
.freizeittext{
    margin-top: 20%;
}

#coop{
    margin-bottom: -30px;
}

/*Image slider*/

.preview {
width:100%;
height:auto;
}
 
.thumb {
width:20%;
margin-right:3px;
margin-top: 1%;
}
 
.normal {
border:3px solid #000000;}
 
.selected {
border:3px solid #0066ff;}

/*popup*/
#popupBoxOnePosition{
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 120%;
    background-color: rgba(0,0,0,0.7); 
    display: none;
}
#popupBoxTwoPosition{
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 120%;
    background-color: rgba(0,0,0,0.7); 
    display: none;
}
#popupBoxThreePosition{
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 120%;
    background-color: rgba(0,0,0,0.7); 
    display: none;
}
.popupBoxWrapper{
    width: 550px; 
    margin: 50px auto; 
    text-align: left;
}
.popupBoxContent{
    background-color: #FFF; 
    padding: 15px;
    border-radius: 12px;
}
.closepopup{
    float: right;
    opacity: 0.7;
    color: #FFF;
    font-size: 150%;
    font-weight: 600;
    margin-right: 2%;
    margin-bottom: 3%;
}
#nospace{
    margin-top: 0px;
    padding-top: 0px;
}


/*Popupbox downloads*/


/*.button {
  font-size: 1em;
  padding: 10px;
  color: #000;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}*/

.overlay {
  text-align: left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 140%;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}












